var dinwei = {
  toname: function (value) {
    switch (value) {
      case "数媒1604":
        return 40
      case "软件1614":
        return 43
      case "软件1613":
        return 44
      case "软件1610":
        return 43
      case "软件1609":
        return 44
      case "软件1608":
        return 45
      case "软件1607":
        return 48
      case "软件1606班":
        return 42
      case "软件1605班":
        return 45
      case "软件1601":
        return 48
      case "软件1602":
        return 42
      case "软件研1701":
        return 5
      case "数媒1701":
        return 57
      case "软件1711":
        return 48
      case "软件1710":
        return 48
      case "软件1708":
        return 48
      case "软件1705":
        return 48
      case "软件1914":
        return 47
      case "软件1703":
        return 49
      case "软件研1901":
        return 24
      case "软件1713":
        return 48
      case "软件1701":
        return 51
      case "数媒1902":
        return 49
      case "软件1909":
        return 50
      case "软件1815":
        return 11
      case "软件1905":
        return 48
      case "软件1707":
        return 45
      case "软件1813":
        return 45
      case "软件1715":
        return 15
      case "软件1806":
        return 27
      case "软件1915":
        return 49
      case "数媒1804班":
        return 47
      case "软件1911":
        return 49
      case "软件1913":
        return 50
      case "软件1903":
        return 49
      case "软件1917":
        return 50
      case "数媒1601班":
        return 42
      case "软件1902":
        return 50
      case "软件1714":
        return 48
      case "智能1901":
        return 52
      case "数媒1602":
        return 39
      case "软件1906":
        return 50
      case "数媒1901":
        return 49
      case "软件1706":
        return 46
      case "软件1803":
        return 47
      case "软件1907":
        return 47
      case "数媒1702":
        return 55
      case "软件1916":
        return 47
      case "数媒1603":
        return 41
      case "软件1904":
        return 49
      case "数媒1704":
        return 53
      case "软件1709":
        return 47
      case "软件1901":
        return 53
      case "软件1919":
        return 19
      case "软件1910":
        return 50
      case "软件1912":
        return 51
      case "数媒1801":
        return 67
      case "大数据1901":
        return 47
      case "软件1918":
        return 48
      case "软件1801":
        return 54
      case "软件1704":
        return 51
      case "软件1802":
        return 51
      case "数媒1703":
        return 51
      case "软件1810":
        return 59
      case "软件1804班":
        return 58
      case "软件1805":
        return 62
      case "软件1807":
        return 57
      case "软件1712":
        return 47
      case "软件1808":
        return 68
      case "软件1809":
        return 56
      case "数媒1802":
        return 54
      case "软件1612":
        return 42
      case "软件1604":
        return 41
      case "软件研1801":
        return 18
      case "软件1811":
        return 50
      case "软件1812":
        return 48
      case "软件1814":
        return 70
      case "软件1603":
        return 46
      case "数媒1803":
        return 36
      case "软件1611":
        return 44
      case "软件1908":
        return 48
      case "软件1702":
        return 49
      default:
        return 0;
    }
  }
}
module.exports = {
  toname: dinwei.toname
}



////////////////////////////////////////////////


// case '软件1901':
//   return 51;
// case '软件1902':
//   return 50;
// case '软件1903':
//   return 51;
// case '软件1904':
//   return 49;
// case '软件1905':
//   return 48;
// case '软件1906':
//   return 50;
// case '软件1907':
//   return 47;
// case '软件1908':
//   return 48;
// case '软件1909':
//   return 49;
// case '软件1910':
//   return 50;
// case '软件1911':
//   return 49;
// case '软件1912':
//   return 51;
// case '软件1913':
//   return 50;
// case '软件1914':
//   return 47;
// case '软件1915':
//   return 49;
// case '软件1916':
//   return 47;
// case '软件1917':
//   return 50;
// case '软件1918':
//   return 48;
// case '软件1919':
//   return 19;
// case '数媒1901':
//   return 50;
// case '数媒1902':
//   return 49;
// case '大数据1901':
//   return 49;
// case '智能1901':
//   return 52;